.edgepath {
  stroke: #ccc;
  fill: "transparent";
  pointer-events: none;
}

.edgelabel {
  font-size: 10px;
  fill: #aaa;
  color: white;
  letter-spacing: 0.2em;
}

text {
  text-anchor: middle;
  pointer-events: none;
}