 .grid {
   position: flex;
   margin: auto;
   justify-content: center;
   min-width: 800px;
 }

 .button {
   background-color: black;
   text-align: center;
   width: 90px;
   padding: 10px;
   border-radius: 10px;
   margin: auto;
   margin-bottom: 5%;
 }

.edgepath {
  stroke: #ccc;
  fill: "transparent";
  pointer-events: none;
}

svg {
  display: inline;
}

.edgelabel {
  font-size: 10px;
  fill: #aaa;
  color: white;
  letter-spacing: 0.2em;
}

text {
  text-anchor: middle;
  pointer-events: none;
}