.grid {
  position: flex;
  margin: auto;
  min-width: 800px;
}

.topbar {
  max-width: 450px;
  display: flex;
  padding-bottom: 50px;
  margin: auto;
  justify-content: center;
  margin-bottom: -10px;
}

button {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  border: none;
  margin: auto;
  display: inline;
  background-color: #1c0840;
  color: #aaa;
  outline:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: #080d4a;
}

.subtitle {
  height: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  justify-content: center;
}

.nodes {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}

.align-left {
  font-family: 'Lato', sans-serif;
  text-align: left;
}