.grid {
  position: flex;
  margin: auto;
  min-width: 800px;
}

.topbar {
  max-width: 550px;
  display: flex;
  padding-bottom: 50px;
  margin: auto;
  justify-content: center;
}

.button {
  font-family: 'Lato', sans-serif;
  background-color: black;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  display: inline;
}

.nodes {
  border-style: dotted;
}