.node {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: inline-block;
}

.type {
  text-align: center;
}

.start {
  background-color: green;
  opacity: 0.1;
}

.finish {
  background-color: red;
  opacity: 0.1;
}