.node {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
}

.type {
  display: block;
  white-space: nowrap;
  font-size: 20px;
  fill: #aaa;
  color: white;
  letter-spacing: 0.2em;
}

circle {
  opacity: 0;
}

.invalid{
  pointer-events: none;
}

circle:hover {
  fill: #03fcec;
  opacity: 0.1;
}

.state {
  fill: #080d4a;
  opacity: 0.8;
}