.node {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
}

.type {
  /* 
  
  text-align: center;
  */
  display: block;
  white-space: nowrap;
  font-size: 20px;
  fill: #aaa;
  color: white;
  letter-spacing: 0.2em;
}

.invalid{
  pointer-events: none;
  fill: none;
}

.blank {
  /*
  background-color: green;
  */
  fill: green;
  opacity: 0.1;
}

.state {
  /*
  background-color: red;
  */
  fill: red;
}