.container {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #c8c8c8;
}

.title {
  padding-left: 0.5em;
  letter-spacing: 0.5em;
}

b {
  color: #ffffff;
}
